    <div class="content">
      <h3 class="text-center">What do you want to do today?</h3>
      <div class="list text-center">
        <button class="btn custom-btn"><a href="#/map" id="field_sport" ng-click="search($event)" title="Home">Field Sports</a></button>
        <button class="btn custom-btn"><a href="#/map" id="nature" ng-click="search($event)" title="Home">Nature</a></button>
        <button class="btn custom-btn"><a href="#/map" id="sports" ng-click="search($event)" title="Home">Sports</a></button>
        <button class="btn custom-btn"><a href="#/map" id="family_fun" ng-click="search($event)" title="Home">Family Fun</a></button>
        <button class="btn custom-btn"><a href="#/map" id="water_fun" ng-click="search($event)" title="Home">Hydro-Fun</a></button>
      </div>
    </div>